/*
 * usb_a9g20.dts - Device Tree file for Caloa USB A9G20 board
 *
 *  Copyright (C) 2011 Jean-Christophe PLAGNIOL-VILLARD <plagnioj@jcrosoft.com>
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
/include/ "at91sam9g20.dtsi"

/ {
	model = "Calao USB A9G20";
	compatible = "calao,usb-a9g20", "atmel,at91sam9g20", "atmel,at91sam9";

	chosen {
		bootargs = "mem=64M console=ttyS0,115200 mtdparts=atmel_nand:128k(at91bootstrap),256k(barebox)ro,128k(bareboxenv),128k(bareboxenv2),4M(kernel),120M(rootfs),-(data) root=/dev/mtdblock5 rw rootfstype=ubifs";
	};

	memory@20000000 {
		reg = <0x20000000 0x4000000>;
	};

	ahb {
		apb {
			dbgu: serial@fffff200 {
				status = "okay";
			};

			smc: smc@ffffec00 {
				nand_cs@03 {
					atmel,bank = <0>
					atmel,chipselect = <3>
					atmel,ncs_read_setup = <0>;
					atmel,nrd_setup = <2>;
					atmel,ncs_write_setup = <0>;
					atmel,nwe_setup = <2>;
					atmel,ncs_read_pulse = <4>;
					atmel,nrd_pulse = <4>;
					atmel,ncs_write_pulse = <4>;
					atmel,nwe_pulse = <4>;
					atmel,read_cycle = <7>;
					atmel,write_cycle = <7>;
					atmel,mode = <3>;
					atmel,tdf_cycles = <3>;
				};
			};
		};
	};
};
